# Flutter/Dart
.dart_tool/
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.generated_plugin_registrant.dart

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Linux
linux/flutter/ephemeral/

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Logs
*.log

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log
firebase-debug.*.log